/* 页面配置 */
.container {
  width: 100%;
  height: 100%;
}
body, html {
  margin: 0px;
  height: 100%;
  overflow: hidden; 
  background-color: #303030;
}

a:focus {
  outline: none;
  user-select:none;
}
.row {
  height: 100%;
}
/* 导航栏 + 目录栏 */
.aside {
  height: 100%;
}

/* 左侧导航栏 */
.aside1 {
  /*background-color: #1f2c39;*/
  background-color: #474D57; /*背景色*/
  /*background-image: url(/public/img/bg_grid.jpg);*/
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
  /*box-shadow: inset -15px 0 20px -15px #77AEF4;*/
}

.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #fff; /*导航栏文字颜色*/
  font-size: 17px; /*文字大小*/
  padding: 6px 16px;

  outline: none;
  user-select:none;
  text-decoration: none;
}

.aside1> .nav > li > a:hover {
  color:#fff; /*鼠标悬浮文字颜色*/
  background-color: #40464F; /*鼠标悬浮背景色*/
  text-decoration: none;
}

/* https://segmentfault.com/q/1010000009615667 */
.aside1 > .nav > li > a:focus {
  text-decoration: none;
  background-color: #2b2b2b;
}

/*激活时背景色*/
.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  background-color: #303030;
}

.avatar {
  width: 100%;
  /*height: 90px;*/
  border: 0px solid #fff;
}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}

/* 中部目录栏 */
.aside2 {
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/

  /*background-color: #303030;*/
  height: 100%;
  /*border-right: 2px solid #303030;*/
  /*overflow-y: auto;*/
  font-color: #fff;
  margin-top: 10px;
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;

  /*background-image: url(/public/img/bg_lines1.jpg);*/
}
.aside3-title {
  /*background-color: #f5f5f5;*/
  /*background-image: url(/public/img/bg_grid.jpg);*/
  border-bottom: 1px solid #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #303030;
}
.aside3-content {

/*  padding-left: 40px;
  padding-right: 40px;
*/  
  padding: 0 5% 0 5%;
  color: #656565;
  line-height: 1.42857143;
}
#content {
  font-size: 18px;
}
#content h2, h3 {
  line-height: 1;
}
blockquote p {
  font-size: 20px;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #303030;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}