.ktvMusicPlayIcons{
	playUpIcon:Embed(source="assets/ktvPlayBtnNormal.png");
	playDownIcon:Embed(source="assets/ktvPlayBtnDown.png");
	playOverIcon:Embed(source="assets/ktvPlayBtnOver.png");
	pauseUpIcon:Embed(source="assets/ktvPauseNormalIcon.png");
	pauseOverIcon:Embed(source="assets/ktvPauseOverIcon.png");
	pauseDownIcon:Embed(source="assets/ktvPauseDownIcon.png");
}
.ktvMusicBtnPre{
	upSkin:Embed(source="assets/ktvLeftBtnNormal.png");
	overSkin:Embed(source="assets/ktvLeftBtnOver.png");
	downSkin:Embed(source="assets/ktvLeftBtnDown.png");
}
.ktvMusicBtnNext{
	upSkin:Embed(source="assets/ktvRightBtnNormal.png");
	overSkin:Embed(source="assets/ktvRightBtnOver.png");
	downSkin:Embed(source="assets/ktvRightBtnDown.png");
}