<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">

    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">




        <div id="container">
          <div id="pjax">
            {{ content }}


    <div id="comment-container" class="aside3-content"></div>
    <link rel="stylesheet" href="/public/css/default.css">
    <script src="/public/js/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      id: '页面 ID', // 可选。默认为 location.href
      owner: 'loneqd',
      repo: 'loneqd.github.io',
      oauth: {
        client_id: 'c6e91dd98b8b4e653512',
        client_secret: '1809361fd81effc776d3d6244d4b942f3996d2c0',
      },
    })
    gitment.render('comment-container')
    </script> 


          </div>
        </div>



      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include google-analytics.html %}
</body>
</html>