<!doctype html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">

    <div class="row">
      {% include navside.html %}
      <div class="col-md-13 col-lg-13 col-sm-13 col-xs-13 aside3">




        <div id="container">
          <div id="pjax">
            {{ content }}


    <div id="comment-container" class="aside3-content"></div>
    <link rel="stylesheet" href="/public/css/default.css">
    <script src="/public/js/gitment.browser.js"></script>
    <script>
    var gitment = new Gitment({
      id: '页面 ID', // 可选。默认为 location.href
      owner: 'alonepig',
      repo: 'alonepig.github.com',
      oauth: {
        client_id: '15baabca6293e7448ae4',
        client_secret: 'dbf1b8dc2bb295b5a24804c84efaa76b804bb01d',
      },
    })
    gitment.render('comment-container')
    </script> 


          </div>
        </div>



      </div>
    </div>
  </div>

  {% include footer.html %}
  {% include google-analytics.html %}
</body>
</html>